In [1]:
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('./data/AviationData.csv', encoding = 'latin-1')

F:\Anaconda\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

# Reset Display or Max Display setting here

In [3]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

#TO SEE EVERYTHING

In [4]:
pd.reset_option('all')
#RUN THIS WHEN DONE SEEING EVERYTHING PLS

: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

F:\Anaconda\envs\learn-env\lib\site-packages\pandas\_config\config.py:622: FutureWarning:
: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

  warnings.warn(d.msg, FutureWarning)

# Making copy of original DF

In [5]:
df_edited = df.copy()

# Fixing Weather Condition and Injury Severity

In [6]:
df_edited['Weather.Condition'] = df['Weather.Condition'].replace(to_replace = 'Unk', value = 'UNK')

In [7]:
df_edited['Weather.Condition'].value_counts()

VMC    77303
IMC     5976
UNK     1118
Name: Weather.Condition, dtype: int64

In [8]:
df_edited['Injury.Severity'].replace('Fatal(349)', 'Fatal', inplace = True)
i = 0
while i <= 270:
    df_edited['Injury.Severity'].replace('Fatal('+str(i)+')', 'Fatal', inplace = True)
    i += 1

In [9]:
df_edited['Injury.Severity'].value_counts()

Non-Fatal      67357
Fatal          17826
Incident        2219
Minor            218
Serious          173
Unavailable       96
Name: Injury.Severity, dtype: int64

# Cleaning Make Col

In [10]:
df_edited['Make'] = df_edited['Make'].astype(str)
df_edited['Make'] = df_edited['Make'].apply(str.lower)

In [11]:
makeindex = df_edited['Make'].value_counts().index.tolist()
top20 = makeindex[:20]
#making an index of top 20 to clean

In [57]:
def make_cleaner(inlist, indf):
    for ind in indf.index:
        for inmake in inlist:
            if 'bellanca' in indf['Make'][ind]:
                indf['Make'][ind] = 'bellanca'
            elif 'dehavilland' in indf['Make'][ind]:
                indf['Make'][ind] = 'de havilland'
            elif 'cirrus' in indf['Make'][ind]:
                indf['Make'][ind] = 'cirrus'
            elif 'rockwell' in indf['Make'][ind]:
                indf['Make'][ind] = 'rockwell'
            elif 'diamond' in indf['Make'][ind]:
                indf['Make'][ind] = 'diamond'
            elif 'ayres' in indf['Make'][ind]:
                indf['Make'][ind] = 'ayres'
            elif 'aviat' in indf['Make'][ind]:
                indf['Make'][ind] = 'aviat'
            elif 'fairchild' in indf['Make'][ind]:
                indf['Make'][ind] = 'fairchild'
            elif 'eurocopter' in indf['Make'][ind]:
                indf['Make'][ind] = 'eurocopter'
            elif 'bombardier' in indf['Make'][ind]:
                indf['Make'][ind] = 'bombardier'
            elif inmake in indf['Make'][ind] and inmake != 'bellanca':
                indf['Make'][ind] = inmake
    return indf

#function to clean and merge names, also caught some more to merge

In [13]:
df_edited = make_cleaner(top20, df_edited)

<ipython-input-12-48ef4d1bf3d2>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  indf['Make'][ind] = inmake
<ipython-input-12-48ef4d1bf3d2>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  indf['Make'][ind] = 'rockwell'
<ipython-input-12-48ef4d1bf3d2>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  indf['Make'][ind] = 'bellanca'
<ipython-input-12-48ef4d1bf3d2>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  indf['Make'][ind] = 'fairchild'
<ipython-input-12-48ef4d1bf3d2>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  indf['Make'][ind] = 'aviat'
<ipython-input-12-48ef4d1bf3d2>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  indf['Make'][ind] = 'ayres'
<ipython-input-12-48ef4d1bf3d2>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  indf['Make'][ind] = 'cirrus'
<ipython-input-12-48ef4d1bf3d2>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  indf['Make'][ind] = 'eurocopter'
<ipython-input-12-48ef4d1bf3d2>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  indf['Make'][ind] = 'diamond'
<ipython-input-12-48ef4d1bf3d2>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  indf['Make'][ind] = 'de havilland'

In [14]:
for ind in df_edited.index:
    df_edited['Make'][ind] = df_edited['Make'][ind].title()
    
#Capitalizing

<ipython-input-14-52c8240ae420>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_edited['Make'][ind] = df_edited['Make'][ind].title()

# Making year col and counter

In [15]:
df_edited['Event.Date'] = pd.to_datetime(df_edited['Event.Date'])

In [16]:
df_edited['year'] = df_edited['Event.Date'].dt.year

In [17]:
df_edited['counter'] = 1

# Clearing Nulls

In [38]:
df_edited['Total.Fatal.Injuries'] = df_edited['Total.Fatal.Injuries'].fillna(0)
df_edited['Total.Serious.Injuries'] = df_edited['Total.Serious.Injuries'].fillna(0)
df_edited['Total.Minor.Injuries'] = df_edited['Total.Minor.Injuries'].fillna(0)
df_edited['Total.Uninjured'] = df_edited['Total.Uninjured'].fillna(0)

# Creating new DF of only post 1985

In [39]:
df_edited2 = df_edited[df_edited['year']>1985].copy()

# Fatality Cleaning

In [40]:
df_edited2['total_pop'] = (df_edited2['Total.Fatal.Injuries'] + df_edited2['Total.Minor.Injuries'] + df_edited2['Total.Serious.Injuries'] + df_edited2['Total.Uninjured'])

#Creating total_pop col

In [ ]:
#GROUP BY ENGINE AND MAKE

In [41]:
sum_engine_make = df_edited2.groupby(['Make', 'Number.of.Engines']).sum().sort_values(by='total_pop', ascending = False)

In [42]:
sum_engine_make['fatality_perc'] = (sum_engine_make['Total.Fatal.Injuries']/sum_engine_make['total_pop']) * 100
sum_engine_make['injury_perc'] = ((sum_engine_make['Total.Serious.Injuries']+sum_engine_make['Total.Minor.Injuries'])/sum_engine_make['total_pop']) * 100
sum_engine_make['uninjured_perc'] = (sum_engine_make['Total.Uninjured']/sum_engine_make['total_pop']) * 100
sum_engine_make.reset_index(inplace = True)

In [ ]:
#GROUP BY MAKE

In [43]:
sum_make = df_edited2.groupby(['Make']).sum().sort_values(by='total_pop', ascending = False)

In [44]:
sum_make['fatality_perc'] = (sum_make['Total.Fatal.Injuries']/sum_make['total_pop']) * 100
sum_make['injury_perc'] = ((sum_make['Total.Serious.Injuries']+sum_make['Total.Minor.Injuries'])/sum_make['total_pop']) * 100
sum_make['uninjured_perc'] = (sum_make['Total.Uninjured']/sum_make['total_pop']) * 100
sum_make.reset_index(inplace = True)

In [45]:
#GROUP BY ENGINE NUM
sum_engine = df_edited2.groupby(['Number.of.Engines']).sum().sort_values(by='total_pop', ascending = False)

In [46]:
sum_engine['fatality_perc'] = (sum_engine['Total.Fatal.Injuries']/sum_engine['total_pop']) * 100
sum_engine['injury_perc'] = ((sum_engine['Total.Serious.Injuries']+sum_engine['Total.Minor.Injuries'])/sum_engine['total_pop']) * 100
sum_engine['uninjured_perc'] = (sum_engine['Total.Uninjured']/sum_engine['total_pop']) * 100
sum_engine.reset_index(inplace = True)

# Fatality Analyzing

In [47]:
new_sum_engine = sum_engine[sum_engine['counter'] > 32]
new_sum_engine

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,year,counter,total_pop,fatality_perc,injury_perc,uninjured_perc
0,2.0,9212.0,3021.0,3852.0,184085.0,18443836,9215,200170.0,4.602088,3.433581,91.964330
1,1.0,18412.0,11828.0,14712.0,59883.0,116611433,58263,104835.0,17.562837,25.315973,57.121190
2,3.0,553.0,271.0,930.0,37550.0,734035,368,39304.0,1.406981,3.055669,95.537350
3,4.0,1313.0,215.0,371.0,32893.0,701593,351,34792.0,3.773856,1.684295,94.541849
4,0.0,385.0,363.0,437.0,2912.0,2070497,1035,4097.0,9.397120,19.526483,71.076397

In [48]:
new_sum_engine.sort_values(by = 'uninjured_perc', ascending = False)

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,year,counter,total_pop,fatality_perc,injury_perc,uninjured_perc
2,3.0,553.0,271.0,930.0,37550.0,734035,368,39304.0,1.406981,3.055669,95.537350
3,4.0,1313.0,215.0,371.0,32893.0,701593,351,34792.0,3.773856,1.684295,94.541849
0,2.0,9212.0,3021.0,3852.0,184085.0,18443836,9215,200170.0,4.602088,3.433581,91.964330
4,0.0,385.0,363.0,437.0,2912.0,2070497,1035,4097.0,9.397120,19.526483,71.076397
1,1.0,18412.0,11828.0,14712.0,59883.0,116611433,58263,104835.0,17.562837,25.315973,57.121190

In [ ]:
##CONCLUSION: 3 4 and 2 are safest
## 0 and 1 are not safest

In [55]:
new_sum_engine_make = sum_engine_make[sum_engine_make['counter'] > 32]

In [56]:
new_sum_engine_make.sort_values(by = 'uninjured_perc', ascending = False)

,Make,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,year,counter,total_pop,fatality_perc,injury_perc,uninjured_perc
22,Bombardier,2.0,0.0,11.0,19.0,1730.0,98402,49,1760.0,0.000000,1.704545,98.295455
42,Saab-Scania Ab (Saab),2.0,1.0,8.0,4.0,733.0,69952,35,746.0,0.134048,1.608579,98.257373
34,Canadair,2.0,10.0,12.0,9.0,939.0,82065,41,970.0,1.030928,2.164948,96.804124
20,Fokker,2.0,27.0,15.0,28.0,2100.0,79841,40,2170.0,1.244240,1.981567,96.774194
18,Bombardier Inc,2.0,55.0,15.0,11.0,2357.0,124857,62,2438.0,2.255947,1.066448,96.677605
...,...,...,...,...,...,...,...,...,...,...,...,...
174,Schempp-Hirth,0.0,10.0,10.0,5.0,15.0,72062,36,40.0,25.000000,37.500000,37.500000
127,Rans,1.0,27.0,14.0,9.0,29.0,116580,58,79.0,34.177215,29.113924,36.708861
113,American,1.0,12.0,23.0,30.0,37.0,123964,62,102.0,11.764706,51.960784,36.274510
94,Vans,1.0,45.0,33.0,23.0,54.0,209851,104,155.0,29.032258,36.129032,34.838710
130,Quicksilver,1.0,19.0,13.0,19.0,25.0,112476,56,76.0,25.000000,42.105263,32.894737

# Weather IMC vs VMC

In [ ]:
weather_cond_val = df_edited2['Weather.Condition'].value_counts()

In [ ]:
fig, ax = plt.subplots(figsize = (10,10))



ax.bar(x = weather_cond_val.index, height = weather_cond_val.values)