In [105]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [106]:
df = pd.read_csv('Data/df_share2.csv', index_col=0)

C:\Users\bobev\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (7,8,29) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [107]:
df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Broad.phase.of.flight,Report.Status,Publication.Date,perc_of_total_fatal,perc_of_total_serious,perc_of_total_minor,perc_of_total_uninjured,year,total_pop,fatal_perc_pop
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Cruise,Probable Cause,NaN,0.003984,0.000000,0.0,0.000000,1948,2.0,0.000370
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Unknown,Probable Cause,19-09-1996,0.007968,0.000000,0.0,0.000000,1962,4.0,0.000739
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Cruise,Probable Cause,26-02-2007,0.005976,0.000000,0.0,0.000000,1974,3.0,0.000555
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Cruise,Probable Cause,12-09-2000,0.003984,0.000000,0.0,0.000000,1977,2.0,0.000370
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Approach,Probable Cause,16-04-1980,0.001992,0.009356,0.0,0.000000,1979,3.0,0.000185
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,29-12-2022,0.000000,0.004678,0.0,0.000000,2022,1.0,0.000000
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000000,0.000000,0.0,0.000000,2022,0.0,0.000000
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,NaN,NaN,27-12-2022,0.000000,0.000000,0.0,0.000226,2022,1.0,0.000000
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000000,0.000000,0.0,0.000000,2022,0.0,0.000000
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,30-12-2022,0.000000,0.004678,0.0,0.000226,2022,2.0,0.000000

In [108]:
df.keys()

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date', 'perc_of_total_fatal', 'perc_of_total_serious',
       'perc_of_total_minor', 'perc_of_total_uninjured', 'year', 'total_pop',
       'fatal_perc_pop'],
      dtype='object')

In [109]:
df = df.drop(['Latitude','Longitude','Report.Status'], axis=1)

In [110]:
df = df.drop(['perc_of_total_fatal', 'perc_of_total_serious', 'perc_of_total_minor','perc_of_total_uninjured','fatal_perc_pop' ], axis=1)

In [111]:
df['total_passenger'] = df['Total.Fatal.Injuries'] + df['Total.Serious.Injuries'] + df['Total.Minor.Injuries'] + df['Total.Minor.Injuries'] + df['Total.Uninjured']

In [112]:
df['Event.Date'] = pd.to_datetime(df['Event.Date'])

In [113]:
df['Event_Year'] = df['Event.Date'].dt.year

In [114]:
df = df[df['Event_Year'] >= 1985]

In [115]:
df['Count'] = 1

In [116]:
df.keys()

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Airport.Code', 'Airport.Name',
       'Injury.Severity', 'Aircraft.damage', 'Aircraft.Category',
       'Registration.Number', 'Make', 'Model', 'Amateur.Built',
       'Number.of.Engines', 'Engine.Type', 'FAR.Description', 'Schedule',
       'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Publication.Date',
       'year', 'total_pop', 'total_passenger', 'Event_Year', 'Count'],
      dtype='object')

In [117]:
Make_Eng = df.drop(['year', 'total_pop', 'Event_Year'], axis=1)

In [118]:
Make_Eng = Make_Eng.groupby(['Make', 'Number.of.Engines']).sum() #.size() #.reset_index(name='Count')

In [119]:
Make_Eng.head()

,,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,total_passenger,Count
Make,Number.of.Engines,,,,,,
107.5 flying corporation,1.0,1.0,0.0,0.0,0.0,1.0,1
1200,0.0,0.0,1.0,0.0,0.0,1.0,1
177mf llc,1.0,0.0,2.0,0.0,0.0,2.0,1
1st ftr gp,1.0,1.0,0.0,0.0,0.0,1.0,1
2000 mccoy,1.0,1.0,0.0,0.0,0.0,1.0,1

In [120]:
Make_Eng['Perc_Un_Inj'] = (Make_Eng['Total.Uninjured'] / Make_Eng['total_passenger'])*100

In [121]:
Make_Eng['Tot_Walk_Away'] = (Make_Eng['Total.Uninjured'] + Make_Eng['Total.Minor.Injuries'])

In [122]:
Make_Eng['Perc_Walk_Away'] = ((Make_Eng['Total.Uninjured'] + Make_Eng['Total.Minor.Injuries'])  / Make_Eng['total_passenger'])*100

In [123]:
Make_Eng = Make_Eng.reindex(columns=['Count', 'Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured', 'total_passenger', 'Perc_Un_Inj','Tot_Walk_Away', 'Perc_Walk_Away' ])

In [124]:
Make_Eng.head(20)

,,Count,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,total_passenger,Perc_Un_Inj,Tot_Walk_Away,Perc_Walk_Away
Make,Number.of.Engines,,,,,,,,,
107.5 flying corporation,1.0,1,1.0,0.0,0.0,0.0,1.0,0.000000,0.0,0.000000
1200,0.0,1,0.0,1.0,0.0,0.0,1.0,0.000000,0.0,0.000000
177mf llc,1.0,1,0.0,2.0,0.0,0.0,2.0,0.000000,0.0,0.000000
1st ftr gp,1.0,1,1.0,0.0,0.0,0.0,1.0,0.000000,0.0,0.000000
2000 mccoy,1.0,1,1.0,0.0,0.0,0.0,1.0,0.000000,0.0,0.000000
2001 mcgirl,1.0,1,0.0,1.0,0.0,0.0,1.0,0.000000,0.0,0.000000
2003 nash,1.0,1,0.0,0.0,1.0,0.0,2.0,0.000000,1.0,50.000000
2007 savage air llc,1.0,1,0.0,0.0,0.0,4.0,4.0,100.000000,4.0,100.000000
2021fx3 llc,1.0,2,0.0,0.0,0.0,4.0,4.0,100.000000,4.0,100.000000
3xtrim,1.0,1,1.0,0.0,1.0,0.0,3.0,0.000000,1.0,33.333333
5 rivers llc,1.0,1,0.0,0.0,1.0,1.0,3.0,33.333333,2.0,66.666667
67 flying dutchman,1.0,1,0.0,0.0,0.0,1.0,1.0,100.000000,1.0,100.000000
781569 inc,1.0,1,0.0,3.0,0.0,0.0,3.0,0.000000,0.0,0.000000
85 manista,1.0,1,1.0,0.0,0.0,0.0,1.0,0.000000,0.0,0.000000
A pair of jacks,1.0,1,0.0,0.0,1.0,0.0,2.0,0.000000,1.0,50.000000
A. h. gettings,1.0,1,0.0,0.0,0.0,1.0,1.0,100.000000,1.0,100.000000
A. le francois,1.0,1,0.0,0.0,1.0,0.0,2.0,0.000000,1.0,50.000000
A. schleicher gmbh & co.,0.0,1,0.0,1.0,0.0,0.0,1.0,0.000000,0.0,0.000000
Aaa aircraft leasing,1.0,1,2.0,0.0,0.0,0.0,2.0,0.000000,0.0,0.000000
Aaa aircraft llc,1.0,1,0.0,0.0,0.0,2.0,2.0,100.000000,2.0,100.000000

In [125]:
Make_Eng.isna().sum()

Count                      0
Total.Fatal.Injuries       0
Total.Serious.Injuries     0
Total.Minor.Injuries       0
Total.Uninjured            0
total_passenger            0
Perc_Un_Inj               17
Tot_Walk_Away              0
Perc_Walk_Away            17
dtype: int64

In [126]:
Make_Eng['Perc_Un_Inj'] = Make_Eng['Perc_Un_Inj'].fillna(0)

In [127]:
Make_Eng['Perc_Walk_Away'] = Make_Eng['Perc_Walk_Away'].fillna(0)

In [128]:
Make_Eng.isna().sum()

Count                     0
Total.Fatal.Injuries      0
Total.Serious.Injuries    0
Total.Minor.Injuries      0
Total.Uninjured           0
total_passenger           0
Perc_Un_Inj               0
Tot_Walk_Away             0
Perc_Walk_Away            0
dtype: int64

In [129]:
Make_Eng.sort_values(by='Perc_Walk_Away', ascending=False).head(11)

,,Count,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,total_passenger,Perc_Un_Inj,Tot_Walk_Away,Perc_Walk_Away
Make,Number.of.Engines,,,,,,,,,
Kelosky,1.0,1,0.0,0.0,0.0,1.0,1.0,100.0,1.0,100.0
Ketonen,0.0,1,0.0,0.0,0.0,1.0,1.0,100.0,1.0,100.0
Kenetic aviation,1.0,1,0.0,0.0,0.0,1.0,1.0,100.0,1.0,100.0
Kennedy michael m,1.0,1,0.0,0.0,0.0,2.0,2.0,100.0,2.0,100.0
Kenneth k knowles,1.0,1,0.0,0.0,0.0,1.0,1.0,100.0,1.0,100.0
Kenneth miller,1.0,1,0.0,0.0,0.0,3.0,3.0,100.0,3.0,100.0
Kenney,1.0,1,0.0,0.0,0.0,2.0,2.0,100.0,2.0,100.0
Kerlin,1.0,1,0.0,0.0,0.0,1.0,1.0,100.0,1.0,100.0
Kermit weeks,1.0,1,0.0,0.0,0.0,1.0,1.0,100.0,1.0,100.0
Kerr,1.0,1,0.0,0.0,0.0,2.0,2.0,100.0,2.0,100.0
Kerr gerald,1.0,1,0.0,0.0,0.0,2.0,2.0,100.0,2.0,100.0

In [130]:
Make_Eng.shape

(6990, 9)

In [131]:
Make_Eng['Perc_Un_Inj'].max

<bound method Series.max of Make                      Number.of.Engines
107.5 flying corporation  1.0                    0.0
1200                      0.0                    0.0
177mf llc                 1.0                    0.0
1st ftr gp                1.0                    0.0
2000 mccoy                1.0                    0.0
                                               ...
Zubair s khan             1.0                    0.0
Zuber thomas p            1.0                  100.0
Zukowski                  1.0                  100.0
Zwart                     1.0                  100.0
Zwicker murray r          1.0                  100.0
Name: Perc_Un_Inj, Length: 6990, dtype: float64>

In [132]:
Make_Eng.sum()

Count                      72299.000000
Total.Fatal.Injuries       31521.000000
Total.Serious.Injuries     16314.000000
Total.Minor.Injuries       21407.000000
Total.Uninjured           328585.000000
total_passenger           419234.000000
Perc_Un_Inj               289225.104341
Tot_Walk_Away             349992.000000
Perc_Walk_Away            355657.327456
dtype: float64

In [142]:
Make_Eng = Make_Eng.loc[Make_Eng['Count'] >= 100]

In [143]:
Make_Eng = Make_Eng.loc[Make_Eng['Perc_Walk_Away'] >= 90]

In [144]:
#USe This!!

Make_Eng.sort_values(by='Perc_Walk_Away', ascending=False).head(40)

                                     Count  Total.Fatal.Injuries  \
Make              Number.of.Engines
Boeing            2.0                  884                1400.0
                  3.0                  212                 361.0
Mcdonnell douglas 2.0                  219                 303.0
Airbus industrie  2.0                  114                 417.0
Boeing            4.0                  199                 990.0
Mcdonnell douglas 3.0                  110                 116.0
Airbus            2.0                  167                 664.0
Embraer           2.0                  159                 278.0

                                     Total.Serious.Injuries  \
Make              Number.of.Engines
Boeing            2.0                                 985.0
                  3.0                                 107.0
Mcdonnell douglas 2.0                                 131.0
Airbus industrie  2.0                                  48.0
Boeing            4.0                                 194.0
Mcdonnell douglas 3.0                                 144.0
Airbus            2.0                                 120.0
Embraer           2.0                                  76.0

                                     Total.Minor.Injuries  Total.Uninjured  \
Make              Number.of.Engines
Boeing            2.0                               969.0          94192.0
                  3.0                               294.0          19935.0
Mcdonnell douglas 2.0                               376.0          20677.0
Airbus industrie  2.0                               323.0          16427.0
Boeing            4.0                               332.0          29705.0
Mcdonnell douglas 3.0                               462.0          13653.0
Airbus            2.0                                86.0          15304.0
Embraer           2.0                                63.0           4845.0

                                     total_passenger  Perc_Un_Inj  \
Make              Number.of.Engines
Boeing            2.0                        98515.0    95.611836
                  3.0                        20991.0    94.969273
Mcdonnell douglas 2.0                        21863.0    94.575310
Airbus industrie  2.0                        17538.0    93.665184
Boeing            4.0                        31553.0    94.143188
Mcdonnell douglas 3.0                        14837.0    92.019950
Airbus            2.0                        16260.0    94.120541
Embraer           2.0                         5325.0    90.985915

                                     Tot_Walk_Away  Perc_Walk_Away
Make              Number.of.Engines
Boeing            2.0                      95161.0       96.595442
                  3.0                      20229.0       96.369873
Mcdonnell douglas 2.0                      21053.0       96.295110
Airbus industrie  2.0                      16750.0       95.506899
Boeing            4.0                      30037.0       95.195386
Mcdonnell douglas 3.0                      14115.0       95.133787
Airbus            2.0                      15390.0       94.649446
Embraer           2.0                       4908.0       92.169014