## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [ ]:
# Your code here - remember to use markdown cells for comments as well!

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
pwd

'C:\\Users\\bobev\\Documents\\Flatiron\\Project\\dsc-phase-1-project-v3'

In [3]:
# df = pd.read_csv('data/Aviation_Data.csv', dtype={'Latitude': 'string','Longitude': 'string', 'Broad.phase.of.flight' : 'string'})

In [4]:
df = pd.read_csv('data/Aviation_Data.csv')

C:\Users\bobev\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
# df_org = pd.read_csv('data/Aviation_Data.csv')

In [6]:
df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [7]:
df.keys()

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [8]:
df['Aircraft.Category'].value_counts(ascending=False).head(30)

Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
ULTR                     1
Rocket                   1
Name: Aircraft.Category, dtype: int64

In [9]:
df = df.loc[df['Aircraft.Category'] == 'Airplane']

In [10]:
df['Aircraft.Category'].value_counts(ascending=False).head(30)

Airplane    27617
Name: Aircraft.Category, dtype: int64

In [11]:
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
5,20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,42.4453,-70.7583,NaN,NaN,...,NaN,Air Canada,NaN,NaN,1.0,44.0,VMC,Climb,Probable Cause,19-09-2017
7,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,NaN,NaN,NaN,BLACKBURN AG STRIP,...,Personal,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982
8,20020909X01561,Accident,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",United States,NaN,NaN,N58,HANOVER,...,Business,NaN,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,01-01-1982
12,20020917X02148,Accident,FTW82FRJ07,1982-01-02,"HOMER, LA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,1.0,0.0,IMC,Cruise,Probable Cause,02-01-1983
13,20020917X02134,Accident,FTW82FRA14,1982-01-02,"HEARNE, TX",United States,NaN,NaN,T72,HEARNE MUNICIPAL,...,Personal,NaN,1.0,0.0,0.0,0.0,IMC,Takeoff,Probable Cause,02-01-1983

In [12]:
df.loc[:, 'Make'] = df['Make'].fillna(value='')

C:\Users\bobev\anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [13]:
df.loc[:, 'Make'] = df['Make'].str.lower()

In [14]:
df['Make'].value_counts(ascending=False).head(30)

cessna                      8475
piper                       4715
beech                       1692
boeing                      1324
mooney                       419
bellanca                     282
grumman                      251
airbus                       245
maule                        232
aeronca                      229
air tractor                  224
cirrus design corp           220
air tractor inc              219
champion                     170
luscombe                     164
embraer                      155
stinson                      146
cirrus                       137
vans                         125
north american               118
mcdonnell douglas            115
taylorcraft                  110
aero commander               107
dehavilland                   95
de havilland                  88
aviat aircraft inc            76
socata                        75
diamond aircraft ind inc      74
aviat                         70
ercoupe                       66
Name: Make, dtype: int64

In [15]:
# Make = df['Make'].value_counts(ascending=False)

In [16]:
# Make

In [17]:
df.loc[:, 'Make'] = df['Make'].replace(to_replace=r'.*cessna.*', value='cessna', regex=True)

In [18]:
# Make = df.loc[:, 'Make'].value_counts(ascending=False)

In [19]:
Make.value_counts()

NameError: name 'Make' is not defined

In [ ]:
df.loc[:, 'Make'] = df['Make'].replace(to_replace=r'.*piper.*', value='piper', regex=True)

In [20]:
# Make = df['Make'].value_counts(ascending=False)

In [21]:
# Make

NameError: name 'Make' is not defined

In [22]:
df.loc[:, 'Make'] = df['Make'].replace(to_replace=r'.*boeing.*', value='boeing', regex=True)

In [23]:
# Make = df['Make'].value_counts(ascending=False)

In [24]:
# Make

In [25]:
df.loc[:, 'Make'] = df['Make'].replace(to_replace=r'.*mooney.*', value='mooney', regex=True)

In [26]:
df.loc[:, 'Make'] = df['Make'].replace(to_replace=r'.*bellanca.*', value='bellanca', regex=True)

In [27]:
df.loc[:, 'Make'] = df['Make'].replace(to_replace=r'.*grumman.*', value='grumman', regex=True)

In [28]:
# Make = df['Make'].value_counts(ascending=False)

In [29]:
# Make

In [30]:
df.loc[:, 'Make'] = df['Make'].replace(to_replace=r'.*airbus.*', value='airbus', regex=True)

In [31]:
# Make = df['Make'].value_counts(ascending=False)

In [32]:
# Make

In [33]:
df.loc[:, 'Make'] = df['Make'].replace(to_replace=r'.*maule.*', value='maule', regex=True)

In [34]:
df.loc[:, 'Make'] = df['Make'].replace(to_replace=r'.*aeronca.*', value='aeronca', regex=True)

In [35]:
df.loc[:, 'Make'] = df['Make'].replace(to_replace=r'.*air tractor.*', value='air tractor', regex=True)

In [36]:
df.loc[:, 'Make'] = df['Make'].replace(to_replace=r'.*cirrus design corp.*', value='cirrus design corp', regex=True)

In [37]:
df.loc[:, 'Make'] = df['Make'].replace(to_replace=r'.*champion.*', value='champion', regex=True)

In [38]:
df.loc[:, 'Make'] = df['Make'].replace(to_replace=r'.*luscombe.*', value='luscombe', regex=True)

In [39]:
df.loc[:, 'Make'] = df['Make'].replace(to_replace=r'.*embraer.*', value='embraer', regex=True)

In [40]:
df.loc[:, 'Make'] = df['Make'].replace(to_replace=r'.*stinson.*', value='stinson', regex=True)

In [41]:
df.loc[:, 'Make'] = df['Make'].replace(to_replace=r'.*cirrus.*', value='cirrus', regex=True)

In [42]:
df.loc[:, 'Make'] = df['Make'].replace(to_replace=r'.*vans.*', value='vans', regex=True)

In [43]:
df.loc[:, 'Make'] = df['Make'].replace(to_replace=r'.*north american.*', value='north american', regex=True)

In [44]:
df.loc[:, 'Make'] = df['Make'].replace(to_replace=r'.*mcdonnell douglas.*', value='mcdonnell douglas', regex=True)

In [45]:
Make = df['Make'].value_counts(ascending=False)

In [56]:
df['Make'].value_counts()

cessna                    8533
piper                     4715
beech                     1692
boeing                    1353
mooney                     467
                          ...
vertical unlimited llc       1
mary alexander               1
pollack                      1
pittman eddie g              1
robert a miller              1
Name: Make, Length: 3453, dtype: int64

In [ ]:
df['Broad.phase.of.flight'].value_counts()

In [ ]:
df.loc[:, 'Broad.phase.of.flight'] = df['Broad.phase.of.flight'].fillna(value='Unknown')

In [57]:
df.to_csv('output.csv',index='True')